ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffa500;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  font-family: 'Calibri';
  font-size: larger;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}