body {
  background-color: black;

}


#black {
  background-color: black;
}

ul {
  list-style-type: none;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;

  // margin-top: 2%;

  padding: 0;

  overflow: hidden;
  // background-color: #ffa500;
  // background-color: lightblue;

  width: 800px;
  display: flex;
  justify-content: center;
}

li {
  display: list-item;

}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;

  text-decoration: none;
}

ul li {
  height: 43px;
}

.menu-item {
  margin-top: 10px;
  margin-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;


  text-align: center;

  background-image: url(../assets/webImages/rightBarv1.png), url(../assets/webImages/leftBarv1.png), url(../assets/webImages/midBarv1.png);
  background-position: right center, left center, center, ;
  background-repeat: no-repeat, no-repeat, repeat;
  border-radius: 10px;

}

.menu-item>a {
  padding: 5px;
  width: 110px;
}

.separadorBot {
  height: 7px;
  width: 1000px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffa500;
}

.separadorTop {
  height: 7px;
  padding: 0px;
  margin-top: 10px;
  // margin-bottom: 1%;
  // margin-right: 10%;
  // margin-left: auto;
  background-color: #ffa500;
}