<div>

    
<form (ngSubmit)="submit()" > 
<label for="username">Usuario</label>
<input type="text" name="username"  id="username" placeholder="Escribe tu Usuario" [(ngModel)]="user">

<br>
<label for="password">Contraseña</label>
<input type="text" name="password" id="password" placeholder="Escribe tu Contraseña" [(ngModel)]="password">

<br>

<button type="submit" > 
    Iniciar Sesión
</button>



<!-- <br> 
<label for="staylog">Mantentener la Sesión</label>
    <input type="checkbox" name="staylog">  -->


</form>

</div>

