* {
    font-family: 'Press Start 2P', cursive;
    color: white;

}

.grid-container {
    display: grid;
    grid-template-columns: 1 auto auto;
    padding: 10px;
}

.grid-title {
    font-size: 48px;
    padding-bottom: 60px;
    text-align: center;
}

.grid-header {
    font-size: 32px;
    padding-bottom: 30px;
    margin-left: 10%;
    text-align: left;
}

.grid-scoreboard {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-Leaderboard {
    margin-left: 2rem;
}

// .scoreHeader {

// }

.grid-item1 {
    font-size: 24px;
    text-align: center;
    margin-left: 5rem;
}

.fila {
    padding-left: 40%;

}

.number {
    text-align: right;
}

.userName {
    padding-right: 5rem;
}

.record {
    text-align: left;
}



th,
td {
    padding: 10px;
    font-size: x-large;
}