@media only screen and (max-width: 1000px) {
    .chip {
        position: fixed;
        display: inline-block;
        left: 0%;

        top: 0%;




        // margin-right: auto;
        // margin-left: 40%;
        padding: 0 25px;
        padding-top: 5px;
        // margin-top: 8%;
        height: 100px;
        width: 1000px;

        line-height: 75px;
        background-color: #ffa600df;

        border-radius: 25px;
        box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.6);




        text-align: center;
        font-family: 'Calibri';
        font-size: 32px;
    }
}

@media only screen and (min-width: 1000px) {
    .chip {
        position: fixed;
        display: inline-block;

        top: 0%;
        left: 25%;



        // margin-right: auto;
        // margin-left: 40%;
        padding: 0 25px;
        padding-top: 5px;
        // margin-top: 8%;
        height: 100px;
        width: 1000px;

        line-height: 75px;
        background-color: #ffa600df;

        border-radius: 25px;
        box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.6);

        text-align: center;
        font-family: 'Calibri';
        font-size: 32px;

    }
}