/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


canvas {
    border: 5px solid black;
    border-radius: 10px;

}

body {
    background-color: black;
}