h2,
p {
    font-family: 'Press Start 2P', cursive;
    color: white
}

#controles {
    text-align: center;
}


.closebtn {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    margin-left: 10px;
    font-size: 40px;
    cursor: pointer;
}

#controlTxT {
    display: none;


}


.flex-container {
    display: flex;
    // flex-wrap: nowrap;
    align-items: center;
}



#gameScreen {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#adImage1 {
    margin-right: 5%;
    margin-left: 10px;
}

#adImage2 {
    margin-left: 5%;


}