<style media="screen" type="text/css">
  @font-face {
    font-family: pixel2;
    src: url("../../assets/fonts/pixel.ttf");
    font-weight: 400;
    font-weight: normal;
  }

  @font-face {
    font-family: pixel;
    src: url("../../assets/fonts/PressStart2P-Regular.ttf");
    font-weight: 400;
    font-weight: normal;
  }
</style>

<!-- <div class="flex-container">
  <div class="adImage"> <img src="../../assets/webImages/imagenPrueba1.png" alt="prueba1"></div>
  
  <div class="adImage2"> <img src="../../assets/webImages/imagenPrueba2.png" alt="prueba2"></div>
</div> -->
<div id="gameScreen"></div>









<div id="controles">
  <!-- <h2>Controles</h2> -->

  <div id="controlTxT">
    <p>Movimiento: <img src="../../assets/webImages/flechasWhite.png" alt="flechasWhite" width="128" height="84px"></p>
    <p>Acciones: <img src="../../assets/webImages/ASDWhite.png" alt="flechasWhite" width="128" height="40px" id="ASD">
    </p>
    <p>Atacar: <span class="Key">A</span> Esquivar: <span class="Key">D</span> Saltar: <span class="Key">S</span></p>

  </div>

</div>