h2,
p {
    font-family: 'Press Start 2P', cursive;
    color: white
}

#controles {
    text-align: center;
}


.closebtn {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    margin-left: 10px;
    font-size: 40px;
    cursor: pointer;
}

#controlTxT {
    display: none;
}