<style media="screen" type="text/css">
  @font-face {
    font-family: pixel2;
    src: url("../../assets/fonts/pixel.ttf");
    font-weight: 400;
    font-weight: normal;
  }

  @font-face {
    font-family: pixel;
    src: url("../../assets/fonts/PressStart2P-Regular.ttf");
    font-weight: 400;
    font-weight: normal;
  }
</style>

<div class="flex-container">
  <div class="adImage1"> <img src="../../assets/webImages/imagenPrueba1.png" width="400" alt="prueba1"></div>
  <div id="gameScreen"></div>
  <div class="adImage2"> <img src="../../assets/webImages/imagenPrueba2.png" width="400" alt="prueba2"></div>
</div>










<div id="controles">
  <h2>Controles<span class="closebtn" id="arrow" (click)="hideControls()">&#709;</span></h2>

  <div id="controlTxT">
    <p>Flechas de Dirección Izquierda y Derecha o 'A' y 'D'</p>
    <p>Flecha Arriba o 'W' para Saltar</p>
    <p>Flecha Abajo o 'S' para Agacharse</p>
    <p>'K' o 'X' + Tecla de dirección para Esquivar</p>
    <p>'J' o 'Z' para Atacar</p>
  </div>

</div>